# ==========================================
# Application Configuration
# ==========================================
APP_NAME="Your Application Name"
APP_DESCRIPTION="The description of your application"
APP_AUTHOR="Your name"
APP_VERSION=1.0.0




# ==========================================
# Server Configuration
# ==========================================
PORT=3000
NODE_ENV=development

# ==========================================
# Database Configuration (MySQL)
# ==========================================
# IF Node is running locally and MySQL in Docker -> use 'localhost'
# IF Node is running inside Docker -> use the service name (e.g., 'db_service' or 'mysql')
DB_HOST=127.0.0.1

# Standard MySQL port
DB_PORT=3306

# Database credentials (Must match docker-compose environment variables)
DB_USER=root
DB_PASSWORD=root
DB_NAME=loja_db
DB_NAME_TEST=loja_test #If you make changes here, also make changes in init.sql.

# ==========================================
# Connection Pool Settings (Optional but recommended)
# ==========================================
DB_CONNECTION_LIMIT=10

# ==========================================
# Security (JWT & Hashing) - Future Proofing
# ==========================================
# Generate a strong random string for this
JWT_SECRET=Generate a long secret string
JWT_EXPIRES_IN=1h

# ==========================================
# Admin Seed Configuration (Initial User)
# ==========================================
# Used by the script 'src/scripts/createAdmin.js' (npm run seed:admin)
ADMIN_EMAIL=admin@loja.com
ADMIN_NAME=Super Administrador




