services:
  api:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - DB_HOST=db  # Nome do serviço abaixo
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=loja_db
      - PORT=3000
    depends_on:
      - db

  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: loja_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      # A LINHA MÁGICA: Executa o init.sql na criação do container
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  mysql_data: